<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      throwExceptions="false"
      internalLogLevel="Info"
      internalLogToConsole="true"
      internalLogFile="c:\temp\internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <target name="database" xsi:type="Database" dbProvider="Npgsql.NpgsqlConnection, Npgsql"
                connectionString="">
            <commandText>
                INSERT INTO "Logs" (
                "Application", "Level", "Message", "Logger", "Callsite", "Exception", "Logged")
                VALUES ( @Application, @Level, @Message, @Logger, @Callsite, @Exception, @Logged::timestamp);

            </commandText>

            <parameter name="@application" layout="AspNetCoreNlog" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@callSite" layout="${callsite:filename=true}" />
            <parameter name="@exception" layout="${exception:tostring}" />
            <parameter name="@logged" layout="${longdate:universalTime=true}" />
        </target>
        <target name="default-async" xsi:type="AsyncWrapper" overflowAction="Grow">
            <target xsi:type="Console" name="default" WriteBuffer="true" encoding="UTF8">
                <layout type='JsonLayout'>
                    <attribute name='time' layout='${longdate}' />
                    <attribute name='eventId' layout='${event-properties:item=EventId_Id}' />
                    <attribute name='severity' layout='${uppercase:${level}}' />
                    <attribute name='message' layout='${message}' encode="false" />
                    <attribute name='RequestGuid' layout='${mdlc:RequestGuid}' />
                    <attribute name='logger' layout='${logger}' />
                    <attribute name='stack_trace' layout='${exception:format=@}' encode="false" />
                </layout>
            </target>
        </target>
    </targets>

    <rules>
        <logger name="*" writeTo="default-async" />
        <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="database" />
    </rules>
</nlog>